* {
  padding: 0;
  margin: 0;
}

nav.navbar.navbar-expand-sm.navbar-light.bg-light {
  padding: 0px 20px;
}

nav li {
  height: 100%;
  padding: 11px 10px;
}

li.nav-item.dropdown:hover {
  background-color: aquamarine;
}

form.form-inline {
  margin-right: 15px;
}

.menu-icon img {
  width: 25px;
  display: block;
  margin: 0 auto;
}

.menu-icon h6 {
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
}

ul.right-nav img {
  margin-top: 9px;
  width: 20px;
  margin-right: 15px;
}

div#contentDropdownOfDienThoai {
  top: 59px;
}
div#contentDropdownOfLaptop {
  top: 59px;
}
div#contentDropdownOfdongHo {
  top: 59px;
}

img.d-block.w-100 {
  height: 415px;
}

.huongDan {
  padding: 20px 0px;
}

.huongDan-body {
  display: flex;
}

.huongDan-body > div {
  margin-left: 20px;
}

.huongDan-body img {
  width: 40px;
}

.huongDan-body p {
  margin: 0;
  font-size: 13px;
}
.huongDan-body h6 {
  margin: 0;
  font-weight: 600;
}

.sanPhamBanChay {
  margin-bottom: 30px;
}

.sanPhamBanChay p {
  margin: 0;
}
.col-9 .nav {
  margin-bottom: 10px;
  border-bottom: red 1px solid;
  background-color: #ececec;
}
.col-9 p.nav-link.active {
  background-color: red;
  font-weight: 600;
  color: white;
  margin-bottom: 0px;
}

.col-9 p.nav-link {
  margin-bottom: 0px;
}

ul.right-nav.navbar-nav.mr-auto.mt-2.mt-lg-0 {
  margin-right: 0px !important;
}

.tin_tuc_title {
  margin-bottom: 10px;
}

.sanPhamBanChay .col-3 .nav {
  background-color: red;
}

.tin_tuc_title p {
  padding-left: 10px;
  font-weight: 600;
  color: white;
}

.tin_tuc_content {
}

.tin_tuc_gach_ngang {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 5px 0px;
}

.tin_tuc_content_item {
  margin-bottom: 12px;
}

.tin_tuc_content p {
  font-size: 12px;
}

.tin_tuc_content h6 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
}

.item-cart img {
  height: 155px;
}

.item-cart {
  margin-bottom: 11px;
}

.item-cart:nth-child(n + 5) {
  margin-bottom: 0;
}

.laptop {
  margin-bottom: 30px;
}

.gioi_thieu img {
  height: 274px;
}

.gioi_thieu h4 {
  font-weight: 600;
}

.gioi_thieu h6 {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 20px;
}

.gioi_thieu {
  margin-bottom: 30px;
}

.footer {
  background-color: #c2050b;
  color: white;
  padding: 40px 0px;
}

.footer h6 {
  font-weight: 600;
  color: yellow;
  margin-bottom: 15px;
}

.footer p {
  font-size: 15px;
}

footer p {
  text-align: center;
  color: white;
  margin-bottom: 0px;
}

footer {
  background-color: black;
  padding: 20px 0px;
}

.item_dien_thoai h4,
.item-laptop h4 {
  font-size: 15px;
  margin-bottom: 0px;
}

.item_dien_thoai p,
.item-laptop p {
  font-size: 13px;
  color: red;
}

.active-of-item {
  background-color: grey;
  color: white;
}
